.contents__right
  .contents__right__tweets
    - tweets.each do |tweet|
      .contents__right__tweets__tweet
        %p.contents__right__tweets__tweet__user-nickname
          = link_to "#{tweet.user.nickname}", user_path(tweet.user), class: "contents__right__tweets__tweet__user-nickname_link"
        %p.contents__right__tweets__tweet__text
          = tweet.text
        - if tweet.images
          - tweet.images.each do |image|
            = image_tag image, class: "contents__right__tweets__tweet__image"
        .contents__right__tweets__tweet__option
          %div{class: "likes", id: "like-#{tweet.id}"}
            = render "likes/like", tweet: tweet
          = link_to "詳細", tweet_path(tweet)
          - if user_signed_in? && current_user.id == tweet.user_id
            = link_to "編集", edit_tweet_path(tweet)
            = link_to "削除", tweet_path(tweet), method: :delete, data: { confirm: "削除しますか？" }
    .contents__right__tweets__paginate
      = paginate(tweets)