.contents
  = render "tweets/side-bar"
  .contents__right
    .contents__right__tweets
      .contents__right__tweets__title
        .contents__right__tweets__title__user-nickname
          = link_to "#{@user.nickname}", user_path(@user), class: "link-line"
          さん
        .contents__right__tweets__title__text
          フォロー中
      - @users.each do |user|
        .contents__right__tweets__follow-users
          %p.contents__right__tweets__follow-users__user
            = link_to "#{user.nickname}", user_path(user)
      .contents__right__tweets__paginate
        = paginate(@users)